.container {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    width: 900px;
}
.border {
    background-color: brown;
    width: 900px;
    z-index: 32;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen {
    z-index: 55;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 800px;
    height: 800px;
    border: 50px solid brown;
}